.image{
  width: 200px;
  margin-bottom: 12px;
  object-fit: cover;
  vertical-align: top;
}
p{
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Arial;
}
.name{
  margin-left: 8px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.mutual_friends_row{
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 8px;
}

.friend_box{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.add_friend{
  background-color: rgb(24, 119, 242);
  color: white;
  margin-bottom: 10px;
  margin-left: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.mini_profile{
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 20px;
}
.mutual_friends{
  color: rgb(100, 100, 100);
}
.grid{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 20px;
  align-items: center;
}